@use '../../../node_modules/sass-true/index' as *;
@use '../../../sass/helpers/numbers';

@include describe('isDecimal helper function') {
    @include it('checks if an integer is a decimal') {
        $value: 3;

        $test: numbers.isDecimal($value);

        @include assert-equal($test, false, "#{$value} is not a decimal");
    }
    
    @include it('checks if a decimal is a decimal') {
        $value: 3.14;

        $test: numbers.isDecimal($value);

        @include assert-equal($test, true, "#{$value} is a decimal");
    }
    
    @include it('checks if 0 is a decimal') {
        $value: 0;

        $test: numbers.isDecimal($value);

        @include assert-equal($test, false, "#{$value} is a decimal");
    }
}