@use 'sass/generator' as *;

@mixin render($utilities: false, $breakpointConfig: false) {
    @if $utilities != false {
        @each $label, $class in $utilities {
            $styles: ();
            $directions: false;
            $increments: false;
            $negatives: false;
            $pseudos: false;
            $dives: false;
            $breakpoints: false;
    
            // Assign config values
            @each $property, $value in $class {
                @each $utilityName, $utilityObject in $utilities {
                    @each $utilityProperty, $utilityValue in $utilityObject { 
                        @if $utilityProperty == styles {
                            $styles: $utilityValue;
                        } @else if $utilityProperty == breakpoints and $breakpointConfig {
                            $breakpoints: $utilityValue;
                        } @else if $utilityProperty == increments {
                            $increments: $utilityValue;
                        } @else if $utilityProperty == negatives {
                            $negatives: $utilityValue;
                        } @else if $utilityProperty == pseudos {
                            $pseudos: $utilityValue;
                        } @else if $utilityProperty == dives {
                            $dives: $utilityValue;
                        } @else if $utilityProperty == directions {
                            $directions: $utilityValue;
                        }
                    }
                }
            }
    
            @each $property, $value in $styles {
                @include generator(
                    $label,
                    $property,
                    $value,
                    $negatives,
                    $directions,
                    $increments,
                    $breakpoints,
                    $breakpointConfig,
                    $dives,
                    $pseudos
                );
            }
        }
    } @else {
        @error 'No utilities passed into sass-utilizer render mixin'
    }
}