@use 'sass/generator' as *;

$utilities: (
    m: (
        styles: (
            margin: 1rem
        ),
        directions: true,
        increments: (
            min: -2,
            max: 6,
            factor: 0.5
        ),
        negatives: true,
        dives: true,
        states: (hover)
    ),
);

@if variable-exists(utilities) {
    @each $label, $class in $utilities {
        $styles: ();
        $directions: false;
        $increments: false;
        $negatives: false;
        $states: false;
        $dives: false;
        $breakpoints: true;

        // Assign config values
        @each $property, $value in $class {
            @each $utilityName, $utilityObject in $utilities {
                @each $utilityProperty, $utilityValue in $utilityObject { 
                    @if $utilityProperty == styles {
                        $styles: $utilityValue;
                    } @else if $utilityProperty == breakpoints {
                        $breakpoints: $utilityValue;
                    } @else if $utilityProperty == increments {
                        $increments: $utilityValue;
                    } @else if $utilityProperty == negatives {
                        $negatives: $utilityValue;
                    } @else if $utilityProperty == states {
                        $states: $utilityValue;
                    } @else if $utilityProperty == dives {
                        $dives: $utilityValue;
                    } @else if $utilityProperty == directions {
                        $directions: $utilityValue;
                    }
                }
            }
        }

        @each $property, $value in $styles {
            @include generator(
                $label,
                $property,
                $value,
                $negatives,
                $directions,
                $increments,
                $breakpoints,
                $dives,
                $states
            );
        }
    }
}