@import '_helpers.scss';
@import '_mixins.scss';

@each $key-1, $val-1 in $classes {
    @each $key-2, $val-2 in $val-1 {
        // Set Config
        $directions: false;
        $breakpoints: false;
        $levels: false;

        @each $key-3, $val-3 in $classConfig {
            @if $key-1 == $key-3 {
                @each $key-4, $val-4 in $val-3 { 
                    @if $key-4 == directions {
                        $directions: $val-4;
                    } @else if $key-4 == breakpoints {
                        $breakpoints: $val-4;
                    } @else if $key-4 == levels {
                        $levels: $val-4;
                    }
                }
            }
        }

        // Class Generation
        .ut-#{$key-1} {
            #{$key-2}: $val-2;
        }

        @if $levels != false {
            @include leveler($key-1, $key-2, $val-2, $breakpoints);
        }

        @if $directions != false {
            @include directioner($key-1, $key-2, $val-2, $levels, $breakpoints);
        }
        
        @if $breakpoints != false {
            @include breakpointer($key-1, $key-2, $val-2);
        }
    }
}