@use './_utilizer' as *;

$utilities: (
    p: (
        aliases: (pad),
        blueprints: (flex),
        increments: true,
        directions: true,
        styles: (
            padding: 1rem,
            margin: 1rem,
        ),
    ),
    colors: (
        format: collection,
        namespace: (
            label: color,
            property: color,
            separator: '-',
            values: (blue, red, yellow, green, cyan),
            suffixType: increment,
        ),
    ),
);

$config: (
    defaults: (
        breakpoints: true,
    ),
    breakpoints: (
        sizes: (
            sm: 568px,
            md: 720px,
            lg: 1020px
        ),
        paradigm: min-width,
    ),
    blueprints: (
        flex: (
            styles: (
                display: flex,
                justify-content: center,
                align-items: center,
            ),
        ),
    ),
);

@include utilizer($utilities, $config);
