@use 'utilizer';

$utilities: (
    m: (
        styles: (
            margin: 1rem
        ),
        breakpoints: true,
        increments: true,
        dives: true,
        directions: true,
        pseudos: (hover)
    ),
    p: (
        styles: (
            padding: 1rem
        ),
        breakpoints: true,
        increments: true,
        dives: true,
        directions: true,
        pseudos: (hover)
    ),
);

$bpConfig: (
    breakpoints: (
        sm: 568px,
        md: 720px,
        lg: 1020px
    ),
    paradigm: min-width
);

@include utilizer.render($utilities, $bpConfig);
