@use 'utilizer';

$utilities: (
    m: (
        styles: (
            margin: 1rem
        )
    )
);

$bpConfig: (
    breakpoints: (
        sm: 568px,
        md: 720px,
        lg: 1020px
    ),
    paradigm: min-width
);

@include utilizer.render($utilities, $bpConfig);
