@use './_utilizer' as *;

$utilities: (
    m: (
        aliases: (marg),
        increments: (
            min: -2,
            max: 4,
            factor: 0.5
        ),
        styles: (
            margin: 1rem
        ),
    ),
    p: (
        groups: (flex),
        increments: (
            min: -2,
            max: 4,
            factor: 0.5,
        ),
        styles: (
            padding: 1rem,
        ),
    ),
);

$config: (
    defaults: (
        breakpoints: true,
    ),
    breakpoints: (
        sizes: (
            sm: 568px,
            md: 720px,
            lg: 1020px
        ),
        paradigm: min-width,
    ),
    groups: (
        flex: (
            styles: (display: flex)
        ),
    ),
);

@include utilizer($utilities, $config);
