@use '../pseudo/index' as *;
@use '../dive/index' as *;

@use '../../helpers/strings' as *;
@use '../../helpers/numbers' as *;

@mixin increment-list(
    $increments,
    $label,
    $property,
    $value,
    $negatives,
    $pseudos,
    $dives
) {
    @each $increment in $increments {
        $newLabel: '';
        $newValue: $value * $increment;

        @if $increment != 1 and $increment != 0 and $increment != -1 {
            @if $negatives and $increment < 0 {
                @if isDecimal($increment) {
                    $newLabel: -#{$label}-#{secondChar($increment)}\.#{sliceEnd($increment, 4)};
                } @else {
                    $newLabel: -#{$label + $increment};
                }
            } @else {
                @if isDecimal($increment) {
                    $newLabel: #{$label}-#{firstChar($increment)}\.#{sliceEnd($increment, 3)};
                } @else {
                    $newLabel: #{$label}-#{$increment};
                }
            }
        }

        @if $newLabel != "" {
            .#{$newLabel} {
                #{$property}: $newValue !important;
            }
            
            @if $pseudos {
                @include pseudify($newLabel, $property, $newValue, $negatives, $pseudos, $dives);
            }
    
            @if $dives {
                @include diver($newLabel, $property, $newValue);
            }
        }

    }
}