@use '../libs/_globals.scss';
@use '../helpers/_map.scss';

@mixin basic() {
    $label: null;
    $property: null;
    $value: null;

    /* .#{$label} {
        #{$property}: $value !important;
    }
    
    @if $multiples or $increments {
        .#{$label}-0 {
            #{$property}: 0 !important;
        }
    
        @if $negatives {
            .-#{$label} {
                #{$property}: -#{$value} !important;
            }
        }
    } */
}

/* 
    WHAT IT BUILDS:

    1. Standard utility e.g. m { margin 1rem };
    2. Null utility e.g. m-0 { margin: 0 };
    3. Negative utility e.g. -m { margin: -1rem };
*/
