@use 'sass:map';
@use 'sass:string';
@use '../_globals.scss';
@use '../helpers/_helpers.scss' as *;
@use 'workers/standard/_workers.scss' as *;

@mixin standard() {
    $utility: globals.get(currentUtility);
    $selector: su-selector-combine('', '', map.get($utility, selector));
    $settings: map.get($utility, settings);
    $styles: map.get($settings, styles);

    #{$selector} {
        @each $property, $value in $styles {
            #{$property}: $value;
        }
    }

    @each $settingName, $setting in $settings {
        @if $settingName == increments {
            @include worker-increment();
        }
    }
}
