@use '../breakpoint-pseudo' as *;
@use '../breakpoint-dive' as *;

@use '../../../helpers/strings' as *;
@use '../../../helpers/numbers' as *;

@mixin bp-increment-list($increments, $label, $property, $value, $negatives, $pseudos, $dives, $bpLabel, $bpValue, $paradigm) {
    @each $increment in $increments {
        $newLabel: '';
        $newValue: $value * $increment;

        @if $increment != 1 and $increment != 0 and $increment != -1 {
            @if $negatives and $increment < 0 {
                @if isDecimal($increment) {
                    $newLabel: -#{$label}-#{secondChar($increment)}\.#{sliceEnd($increment, 4)};
                } @else {
                    $newLabel: -#{$label + $increment};
                }
            } @else {
                @if isDecimal($increment) {
                    $newLabel: #{$label}-#{firstChar($increment)}\.#{sliceEnd($increment, 3)};
                } @else {
                    $newLabel: #{$label}-#{$increment};
                }
            }
        }

        .#{$bpLabel}\:#{$newLabel} {
            @media (#{$paradigm}: $bpValue) {
                #{$property}: $newValue !important;
            }
        }

        @if $pseudos {
            @include breakpoint-pseudify($newLabel, $property, $newValue, $pseudos, $dives, $bpLabel, $bpValue, $paradigm);
        }

        @if $dives {
            @include breakpoint-diver($newLabel, $property, $newValue, $bpLabel, $bpValue, $paradigm);
        }
    }
}