@mixin basic() {
    @media (min-width: 560px) {
        .sm\:m {
            margin: 1rem !important;
        }
    }
  
    @media (min-width: 560px) {
        .sm\:p {
            margin: 1rem !important;
        }
    }

    @media (min-width: 720px) {
        .md\:m {
            margin: 1rem !important;
        }
    }

    @media (min-width: 720px) {
        .md\:p {
            margin: 1rem !important;
        }
    }

    @media (min-width: 1200px) {
        .lg\:m {
            margin: 1rem !important;
        }
    }

    @media (min-width: 1200px) {
        .lg\:p {
            margin: 1rem !important;
        }
    }
}