@use 'sass:list';
@use 'sass:string';
@use './_string.scss' as su-string;

@function declassify($selector) {
    $newSelector: ();

    @if list.length($selector) > 0 {
        @if string.index($selector, ',') != null {
            @each $partialSelector in su-string.split($selector, ',') {
                @if string.index($partialSelector, '.') == 1 {
                    @if list.length($newSelector) == 0 {
                        $newSelector: list.append($newSelector, string.slice($partialSelector, 2, string.length($partialSelector)), $separator: comma);
                    } @else {
                        $newSelector: list.append($newSelector, string.slice($partialSelector, 2, string.length($partialSelector)), $separator: comma);
                    }
                }
            }
        } @else {
            $newSelector: list.append($newSelector, string.slice($selector, 2, string.length($selector)), $separator: comma);
        }
    } @else {
        @error 'Sass Utilizer: No selectors passed into selector declassify function';
    }

    @return $newSelector;
}

@function combine($prefix: '', $suffix: '', $selectors...) {
    $newSelector: '';

    @if list.length($selectors) > 0 {
        @each $selector in $selectors {
            @if (string.index($selector, ',')) {
                $partialSelectors: su-string.split($selector, ',');
                
                @each $partialSelector in $partialSelectors {
                    @if string.length($newSelector) == 0 {
                        $newSelector: '.#{$prefix + $partialSelector + $suffix}';
                    } @else {
                        $newSelector: string.insert($newSelector, ', .#{$prefix + $partialSelector + $suffix}', string.length($newSelector) + 1);
                    }
                }
            } @else {
                @if string.length($newSelector) == 0 {
                    $newSelector: '.#{$prefix + $selector + $suffix}';
                } @else {
                    $newSelector: string.insert($selector, ', .#{$prefix + $selector}-#{$suffix}', string.length($newSelector) + 1);
                }
            }
        }
    } @else {
        @error 'Sass Utilizer: No new selectors passed into selector combine function';
    }

    @return $newSelector;
}
