@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:string';
@use '../../../_globals.scss';
@use '../../../helpers/_helpers.scss';

@mixin directions($selector, $settings) {
    $directions: top, right, bottom, left;
    $types: (margin, padding, border, border-radius);
    $cornered: (border-radius);

    $buildAxes: true;
    $invertAxes: null;

    $newSelectors: ();

    $directionSettings: map.get($settings, directions);

    @if meta.type-of($directionSettings) == map {
        // Code here
    } @else if meta.type-of($directionSettings) == list {
        // Code here
    } @else if $directionSettings == true {
        // Code here
    } @else {
        @warn 'Invalid \'directions\' setting in \'#{$selector}\' utility';
    }
}
