@use 'sass:map';
@use 'sass:meta';
@use '../../../_globals.scss';
@use '_increment-map.scss' as *;

@mixin increment() {
    $utility: globals.get(currentUtility);
    $selector: map.get($utility, selector);
    $styles: map.get($utility, settings, styles);
    $increment: map.get($utility, settings, increments);

    // Map
    @if meta.type-of($increment) == map {
        @include increment-map();
    }/*  @else if meta.type-of($increment) == list {

    } @else {

    } */
}
