@use 'sass:map';
@use 'sass:meta';
@use '../../../_globals.scss';
@use '_increment-list.scss' as *;
@use '_increment-map.scss' as *;

@mixin increments($selector, $settings) {
    $styles: map.get($settings, styles);
    $increment: map.get($settings, increments);

    @if meta.type-of($increment) == map {
        @include increment-map($selector, $settings);
    } @else if meta.type-of($increment) == list {
        @include increment-list($selector, $settings);
    } @else if '#{$increment}' == 'true' {
        $settings: map.set($settings, increments, (min: -2, max: 6, factor: 0.5));
        @include increment-map($selector, $settings);
    } @else {
        @warn 'Sass Utilizer: Invalid type passed into increment settings for utility #{$selector}';
    }
}
