@use 'sass:list';
@use 'sass:map';

$globals: (
    config: (
        breakpoints: null,
        defaults: (
            breakpoints: null,
            directions: null,
            dives: null,
            increments: null,
            negatives: null,
            pseudos: null,
        ),
        blueprints: null,
    ),
    utilities: (
        basic: null,
        increments: null,
        directions: null,
        dives: null,
        pseudos: null,
    ),
);

@function get($keys...) {
    @return map.get($globals, $keys...);
}

@mixin merge($keys...) {
    $globals: map.merge($globals, $keys...) !global;
}

@mixin set($keys...) {
    $globals: map.set($globals, $keys...) !global;
}
